<ul class="collection with-header">
  <li class="collection-header">
    <h4>Users List</h4>
  </li>
  <% @users.each do |user| %>
  <li class="collection-item avatar">
    <%= image_tag user.photo.thumbnail.url, alt: user.full_name, class: "circle" %>
    <span class="title">
      <%= link_to user.full_name, user %>
    </span>
    <p>
      <strong>Email: </strong>
      <a href="mailto:<%= user.email%>">
        <%= user.email%>
      </a>
      <br>
      <strong>Phone: </strong>
      <a href="tel:<%= user.phone%>">
        <%= user.phone%>
      </a>
    </p>
    <%= link_to user, class: "secondary-content" do %>
      <i class="material-icons">arrow_forward</i>
    <% end %>
  </li>
  <% end %>
</ul>
